<h2>Base</h2>

<h1>h1 Título</h1>
<h2>h2 Título</h2>
<h3>h3 Título</h3>
<h4>h4 Título</h4>
<h5>h5 Título</h5>
<h6>h6 Título</h6>

<p>Este es un curso de programación Angualr enfocado en la creación de un Ecommerce</p>

<h3>Links</h3>
<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Botones</h3>
<button class="app-button">Botón</button>

<h3>Code</h3>
<code>const parameter-100</code>

<h3>Input</h3>
<input type="text" class="app-input">

<h2>Mixins</h2>

<h3>Shadow</h3>
<div class="shadow">Shadow mixin</div>

<h3>Card</h3>
<div class="card">Card mixin</div>
