.app-a {
    color: $primary;
    transition: 0.25s;
    cursor: pointer;
    margin-right: 1em;
    // cuando pasa el cursor por encima
    &:hover {
        color: $primary-dark;
    }
    // cuando ya dió click
    &_active {
        color: $primary-dark;
    }
}
